/* Gaya umum halaman */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header */
header {
  background-color: #00aaff;
  color: white;
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Tombol */
button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}